body {
    font-family: Calibri, sans-serif;
    background-color: black;
    color: white;
    margin: 10px;
    text-align: left;
}

.container {
    text-align: left;
    min-width: 150px;
}

label {
    display: block;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

input, span {
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

span {
    display: block;
    margin-bottom: 5px;
}

.break-time-container {
    display: flex;
    align-items: center;
}

input {
    flex: 1; /* Input takes up the full available width */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.refresh-icon {
    width: 16px; /* Resize the icon */
    height: 16px; /* Resize the icon */
    margin-left: 10px;
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.container div {
    margin-bottom: 10px;
}
